.profil__hide--all{
	display: none;
}
.profile{
	display: flex;
	justify-content: space-between;
}
.profile__info{
	width: 50%;
	margin-right: 30px;
	box-sizing: border-box;
	height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.profile__delivery{
	width: 50%;
	border-left: 1px solid #4c4c44;
	padding-left: 30px;
	box-sizing: border-box;
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.account__title{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;   
	border-bottom: 1px solid #4c4c4c;
}

.account__title--block{
	margin: 0 20px 0 20px;
}
.account__title--profil{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 25px;
}
.account__title--history{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 25px;
}
.account__title--like{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 25px;
}
.account__title--profil.border{
	border-bottom: 2px solid #4c4c4c;
}
.account__title--history.border{
	border-bottom: 2px solid #4c4c4c;
}
.account__title--like.border{
	border-bottom: 2px solid #4c4c4c;
}
.profile{
	display: none;
}
.profile.show{
display: flex;
}
.history{
	display: none;
}
.history.show{
	display: block;

}
.likelist{
	display: none;
}
.likelist.show{
	display: block;

}
.profile__gender{
	display: flex;
	margin: 17px 0 10px 0;
}
.profile__block{
	display: flex;
	justify-content: space-between;
	margin: 8px 0 8px 0;
	border-bottom: 1px solid #4c4c44;
}
.profile__block--icon{
	width: 25px;
}
.profile__birthday{
	display: flex;  
	width: 100%;
}
.profile__birthday--day{
	border-bottom: 1px solid #4c4c44;
	width: 25%;
	margin: 0 30px 0 0;

}
.profile__birthday--menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.profile__birthday--btnmenu{
	transform: scale(0);
	height: 0;
}
.profile__birthday--icon{
	width: 15px;
}
.profile__title--text{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 25px;
}
.profile__password--info{
	display: flex;
	margin: 14px 0 11px 0;
	border-bottom: 1px solid #4c4c44;
	justify-content: space-between;
}
.profile__exit--style{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 20px;
	border: none;
	padding: 11px;
	border-radius: 15px;
	cursor: pointer;
}
.profile__button--style{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 20px;
	border: none;
	padding: 11px 25px 11px 25px;
	border-radius: 15px;
	cursor: pointer;
}
.profile__street{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 10px 0 10px 0;
}
.profile__street--name{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #4c4c44;
	width: 100%;
}
.profile__street--number{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #4c4c44;
	width: 26%;
}
.profile__home{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.profile__home--number{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #4c4c44;
	width: 26%;
}
.profile__index{
	display: flex;
	justify-content: space-between;
	margin: 10px 0 10px 0;
	border-bottom: 1px solid #4c4c44;
	width: 27%;
}
.profile__dop--text{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 17px;
	border: 1px solid #4c4c44;

}
.profile__title--text {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
}

.profile__block--text {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 25px;
}

.profile__birthday--day {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 25px;
}
.profile__password--info {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 25px;
}
.profile__password--icon{
	width: 27px;
}
.profile__index--text {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 25px;
}

.history__item{
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #4c4c44;
	align-items: center;
	padding: 5px 0 5px 0;
}
.history__top{
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #4c4c44;

}
.like__button--style{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 20px;
	border: none;
	padding: 11px 25px 11px 25px;
	border-radius: 15px;
	cursor: pointer;
}
.history__photo{
	width: 100px;
}
.history__name{
	width: max-content;
}
.history__name--style {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 20px;
}
.history__prise {
	text-align: center;
	width: 15%;
}
.history__prise--style{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 20px;
}
.history__dateorder {
	text-align: center;
	width: 15%;
}
.history__number--style {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 20px;
}
.history__datedelivery {
	text-align: center;
	width: 15%;
}
.history__number {
	text-align: center;
	width: 15%;
}
.history__performance {
	text-align: center;
	width: 15%;
}
.history__performance--done {

}
.history__performance--status {
}
.history__performance--style {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 20px;
}
.history__performance--icon {
}
.history--done {
}
.history__performance--nodone {
}
.history--nodone {
}

.likeitem{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 1px solid #4c4c44;
	padding: 10px 0 10px 0;
}
.likeitem__photo{
	width: 100px;
}
.likeitem--style{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 19px;
	line-height: 20px;
}
.likeitem__name{
	width: 20%;
	text-align: center;
}
.likeitem__size{
	width: 20%;
	text-align: center;

}
.likeitem__prise{
	width: 20%;
	text-align: center;

}
.likeitem__button{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.likeitem__button--block{
	margin: 3px 0 10px 0;
}
.likeitem:hover .likeitem__button--add{
	transform: scale(1);
}
.likeitem:hover .likeitem__button--remove{
	transform: scale(1);
}
.likeitem__button--add{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 17px;
	border: 1px solid #4c4c44;
	border-radius: 8px;
	padding: 5px 10px;
	background-color: #fff;
	transform: scale(0);

}
.likeitem__button--add:hover{
	background-color: rgb(178, 247, 178);
}
.likeitem__button--remove{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	border: 1px solid #4c4c44;
	border-radius: 8px;
	padding: 5px 10px;
	background-color: #fff;
	transform: scale(0);

}
.likeitem__button--remove:hover{
	background-color: rgb(241, 181, 181);
}
@media (max-width:700px) {
	.likeitem{
		position: relative;
	}
	.likeitem__button{
		display: flex;
		flex-direction: row;
   	align-items: center;
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 170px;
		width: fit-content;
	}
	.likeitem__button--block{
		margin: 0 5px 0 5px;
	}


}
.likelist__error--text{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 25px;
}
.likelist__link{
	background-color: #8e8e8c;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	padding: 11px;
	width: fit-content;
}
.likelist__text--link{
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
	color: #ffffff;
}
@media (max-width: 992px) {
	.profile__delivery{
		width: 60%;
	}
	.profile__info{
		width: 60%;
	}
	.profile.show{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	.profile__delivery{
		border-left: none; 
    	padding-left: 0;
		margin-bottom: 40px;
	}
}
@media (max-width: 768px) {
	.profile__delivery{
		width: 100%;
		margin: 0 20px 0 20px;
		height: 400px;
	}
	.profile__info{
		width: 100%;
		margin: 0 20px 0 20px;
	}
}
@media (max-width: 530px) {
	.account__title{
		display: block;
		padding-bottom: 10px;
	}
	.account__title--profil.border{
		border-bottom: none;
   	border-bottom: 1px solid #4c4c4c;
    	background-color: rgb(30%, 30%, 30%, 0.1);
	}
	.account__title--history.border{
		border-bottom: none;
   	border-bottom: 1px solid #4c4c4c;
    	background-color: rgb(30%, 30%, 30%, 0.1);
	}
	.account__title--like.border{
		border-bottom: none;
   	border-bottom: 1px solid #4c4c4c;
    	background-color: rgb(30%, 30%, 30%, 0.1);
	}
	.history--hide{
		display: none;
	}
}
@media (max-width: 576px) {
	.profile__delivery{
		height: 600px;
	}
	.profile__home{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.profile__home--number{
		width: 90%;
		margin: 10px 0 10px 0;
	}
	.profile__index{
		display: flex;
		width: 100%;
	}
}
@media (max-width: 400px) {
	.profile__dop--text{
		width: calc(100vw - 25px);
	}
}